body{
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 41px;
    padding-right: 70px;
    
    
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120%;
    height: 70px;
    
    
}
#titulo{
    font-family: "Vibur", cursive;
      font-size: 28px;
      margin: -90px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-weight: normal;
   

}
li{
    display: inline-block;
    margin:20px;
    font-size: 16px;
    font-weight:bold
    

}

a{
    color:#979797;
    text-decoration: none;
    
}

a:hover{
    color: #3A5AFF;
    transition: 0,3 all;
}

#inscreva-se-btn{
    border: 1px solid rgb(104, 105, 109);
    padding: 10px;
    border-radius: 5px;
    
}

#inscreva-se-btn:hover{
    background-color: rgb(39, 97, 231);
    color: white;
    box-shadow:0 5px 0 #121E52;
    border-radius: 5px;
    outline: none;
    border: 1px
}
h1{ 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    border: #000000;
    
   
}

h2{
    font-size: 74px;
    line-height: 25px;
    font-weight: 800;
    font-optical-sizing: auto;
    margin-top: -10px;
    
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 200px;

}

span{
    color: #2F281E;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p{
    color: #544837;
    font-size: 24px;
    line-height: 25px;
    font-optical-sizing: auto;
    padding-bottom: 15px;
}

.blue-button {
    background-color: #3A5AFF;
    color: white;
    padding: 19px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid color #11B5E4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

#meio{
    width: 500px;
    padding-left: 200px;
    margin: 0 auto 20px;
}

#download{
        p{
            color: #020202;
            font-size: 14px;
            font-weight: bolder;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
}

#footer a + a {
    margin-left: 15px;
  }


  .dropdown-menu{
    position: absolute;
    box-shadow: 0 0 5px black;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-menu{
    display: block;
    background-color: #3A5AFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid color #0d1315;

}


